@using MedicoApp.Core.Application.ViewModels.User
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<style>
    /* Estilo personalizado para el fondo */
    .welcome-text {
        background-color: hsla(120, 100%, 50%, 0.5);
        /* Fondo semi-transparente para el texto */
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px; /* Espacio inferior */
    }
</style>

<div class="custom-bg">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h4>BIENVENIDOS AL GESTOR DE PACIENTES</h4>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <form method="post" asp-controller="User" asp-action="Index">
                            <div class="mb-3">
                                <label asp-for="Username" class="form-label">Nombre de usuario</label>
                                <input class="form-control" asp-for="Username">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Contraseña</label>
                                <input class="form-control" asp-for="Password">
                            </div>

                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
